.icon-48-drustva{
background-image:url('../images/com_drustva-icon-48x48.png')
}

.icon-48-createtask{
background-image:url('../images/com_drustva-create-icon-48x48.png')
}

.icon-48-listtask{
background-image:url('../images/com_drustva-list-icon-48x48.png')
}

.icon-48-deletetask{
background-image:url('../images/com_drustva-delete-icon-48x48.png')
}

